
@{
  Layout = "_Layout";
}
@using TakeAHike.Models;
@using TakeAHike;
@using System;
<body>
  <h1>Take A Hike!</h1>
  <div class="container">
    <div class="box">

      <h2>Exact Matches</h2>
      <h4>The following trails match both your desired difficulty and desired features:</h4>
      @if (@Model["exactMatches"].Count == 0)
      {
        <p>Sorry, no trails matched your search criteria. Adjust your criteria and try again.</p>
      }
      <ul>
        @foreach (Trail trail in @Model["exactMatches"])
        {
          <li><a href="/trails/@trail.GetId()">@trail.GetName()</a></li>
        }
      @* </ul>

      <h2>Partial Matches</h2>

      <h4>The following trails match your difficulty criteria and include one or more of your desired features:</h4>
      <ul>
        @foreach (Trail trail in @Model["partialMatches"])
        {
          <li>@trail.GetName()</li>
        }
      </ul> *@

    </div>
  </div>
</body>
