
@{
  Layout = "_Layout";
}
@using TakeAHike.Models;
@using TakeAHike;
<body>
  <h1>Take A Hike!</h1>
  <div class="container">
    <div class="box">
    <h2>Hike the @Model.GetName()</h2>
    <br>
    <h3>Trail Details: </h3>
    <br>
    <h4>Difficulty: Level @Model.GetDifficulty()</h4>
    <h5>Total Distance: @Model.GetDistance() miles</h5>
    <h4>View Points: </h4>
      @if(@Model.GetSummits() == 1)
      {
        <p>There's only one summit</p>
      }
      @if(@Model.GetSummits() == 2)
      {
        <p> There are two total view points</p>
      }
      @if(@Model.GetSummits() == 3)
      {
        <p>There are three or more view points</p>
      }
    <h4>Dogs Allowed?</h4>
      @if(@Model.GetDogs() == true)
      {
        <p>Yes @Model.GetName() is a dog friendly trail!</p>
      }
      @if(@Model.GetDogs() == false)
      {
        <p>Sorry, dogs not allowed on the @Model.GetName() trail</p>
      }
      <h4>Features & Scenery of the @Model.GetName() hike: </h4>
<<<<<<< HEAD
        <ul>
          @if(@Model.GetWaterfalls() == true)
          {
          <li>This trail contains a beautiful waterfall</li>
          }
        </ul>

      </div>
=======
      <ul>
        @if(@Model.GetWaterfalls() == true)
        {
          <li>@Model.GetName() contains a beautiful waterfall</li>
        }
         @if(@Model.GetStreams() == true)
        {
          <li>@Model.GetName() has a lovely stream</li>
        }
        @if(Model.GetMountainViews() == true)
        {
          <li>@Model.GetName() has many majestic mountain views</li>
        }
        @if(@Model.GetLakes() == true)
        {
          <li>@Model.GetName() is along a lake.</li>
        }
      </ul>

    </div>
>>>>>>> 11cbec98726ac46aecd584555676a5cc6f9474a8
  </div>
</body>
