<h1>Edit User Info:</h1>

<form action="hikers/@Model.GetId()/edit" method="post">

  <label for="hikerName">User Name:</label>
  <input type="test" id="hikerName" name="hikerName" placeholder="@Model.GetUserName()" required>

  <label for="firstName">First Name:</label>
  <input type="test" id="firstName" name="firstName" placeholder="@Model.GetFirstName()" required>

  <label for="lastName">Last Name:</label>
  <input type="test" id="lastName" name="lastName" placeholder="@Model.GetLastName()" required>

  <label for="hikerZip">Zip Code:</label>
  <input type="test" id="hikerZip" name="hikerZip" placeholder="@Model.GetZip()" required>

  <label for="hikerPhone">Phone Number:</label>
  <input type="test" id="hikerPhone" name="hikerPhone" placeholder="@Model.GetPhone()" required>

  <label for="hikerEmail">Email Address:</label>
  <input type="test" id="hikerEmail" name="hikerEmail" placeholder="@Model.GetEmail()" required>

  <label for="hikergender">Gender:</label>
  <input type="test" id="hikergender" name="hikergender" placeholder="@Model.Getgender()" required>

  <label for="hikerCar">Car Avaliblility:</label>
  <input type="test" id="hikerCar" name="hikerCar" placeholder="@Model.GetCar()" required>

</form>

<p><a href="/">Home</a></p>
