<!DOCTYPE html>
@{
  Layout="Shared/_Layout.cshtml";
}
@{
  var users = Model["users"];
}
<div class="container">

  <form action="/users/update" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <div class= "form-group">
      <label for="userName">User Name</label>
      <input class = "form-control" type="text" name="userName" value ="@users.UserName">
      <label for="password">Password</label>
      <input class = "form-control" type="password" name="password" value = "@users.Password">
    </div>
    <div class= "form-group">
      <label for="firstName">First Name</label>
      <input class = "form-control" type="text" name="firstName" value = "@users.FirstName" required>
      <label for="lastName">Last Name</label>
      <input class = "form-control" type="text" name="lastNane" value = "@users.LastName" required>
    </div>
    <div class= "form-group">
      <label for="zip">Zip Code</label>
      <input class = "form-control" type="text" name="zip" value = "@users.ZipCode">

      <label for="phone">Phone Number</label>
      <input class = "form-control" type="text" name="phone" value = "@users.Phone">

      <label for="email">E-mail</label>
      <input class = "form-control" type="text" name="email" value = "@users.Email">
    </div>

    <div class= "form-group">
      <label for="gender">What is your gender identity?</label>
      <select name="gender">
        <option value="0">Select</option>
        <option value="1">Male</option>
        <option value="2">Female</option>
        <option value="3">Other </option>

      </select>
    </div>

    <div class= "form-group">
      <label for="car">Can you provide transportation?</label>
      <select name="car">
        <option value="0">Select</option>
        <option value="1">Yes</option>
        <option value="2">No</option>
        <option value="3">Sometimes </option>

      </select>
    </div>




    @if(Model["message"] == "Edit profile")
    {
      <button type="submit" class="btn btn-info">Update Profile</button>
    }
    @if(Model["message"] == "Create new profile")
    {
      <button type="submit" class="btn btn-info">Create</button>
    }
  </form>
  <button id = "delete" class="btn btn-danger" type="button" name="delete">Delete Profile</button>
  <form class="hidden-button" action="/user/delete" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" class="btn btn-danger">Confirm</button>
  </form>
  <button class="hidden-button btn btn-info" type="button" name="button"><a href="/user/delete/cancel">Cancel</a></button>

</div>
